.colorSelector {
    position: relative;
    width: 36px;
    height: 36px;
    background: url(../public/assets/styles/css/images/select.png);
}

.colorpicker {
    z-index: 9999999 !important;
    margin-left: 36px;
}

.bordergray {
    border-left: 1px solid #eceeef;
    border-right: 1px solid #eceeef;
    border-top: 1px solid #eceeef;
    border-bottom: 1px solid #eceeef
}

.empty-state {
    background-image: url(../../images/arrow_top_left-327431b398.png);
    background-position: 69px 15px;
    background-repeat: no-repeat;
    background-size: 90px 55px;
    padding-top: 50px;
    width: 100%;
}

.toast-info {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=)!important
}

.toast-error {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=)!important
}

.toast-success {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==)!important
}

.toast-warning {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=)!important
}

.bar-no-stag {
    background-color: rgb(47, 71, 89);
}

.bar-discovery {
    background-color: rgb(105, 182, 214);
}

.bar-in-trial {
    background-color: rgb(51, 101, 138);
}

.bar-on-hold {
    background-color: rgb(191, 216, 225);
}

.open {
    background-color: rgba(0, 0, 0, 0.03) !important;
}

i.table-cell-placeholder {
    background: #e2e2e2;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    display: block;
}

.round-img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.Select-arrow {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: .35rem .35rem .175rem;
    display: inline-block;
    height: 0;
    width: 0;
    position: relative;
}

.border-bottom-none {
    border-bottom: 0px;
}

.border-top-none {
    border-top: 0px !important;
}

i.no-email-icon {
    background: url('./images/no_email_icon-cf06a1d24c.png') no-repeat;
    background-size: auto;
    background-size: contain;
    height: 18px;
    width: 18px;
}

i.texting-off-icon {
    background: url('./images/texting_off-380cfed3d7.png') no-repeat;
    background-size: contain;
    height: 18px;
    width: 18px;
}

i.tooltip-alert {
    background: url('./images/alert_icon_round-cf867b9936.png') no-repeat;
    background-size: contain;
    height: 18px;
    width: 18px;
}

.event-detail-history {
    background-color: #f7f7f9 !important;
}

.modal-overlay {
    background-color: rgba(0, 0, 0, .3) !important;
    z-index: 1050 !important;
    overflow: auto;
}

.text-secondary-task {
    color: #27bfad !important;
}

.table-secondary-task {
    background-color: #c3ede8 !important;
}

.table-info {
    background-color: #b8cad8;
}

.date-rate-duration-block {
    background-color: #F7F7F9;
}

.MuiAvatar-root {
    width: 40px;
    height: 40px;
    display: flex;
    overflow: hidden;
    position: relative;
    font-size: 1.25rem;
    align-items: center;
    flex-shrink: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1;
    border-radius: 50%;
    justify-content: center;
    -moz-user-select: none;
}

.MuiAvatar-colorDefault {
    color: #fafafa;
    background-color: #bdbdbd;
}

.bg-light-c {
    background-color: #f5f5f5 !important;
}

.opportunity-status-column {
    background-color: var(--white);
    display: inline-block;
    min-height: 540px;
    vertical-align: top;
    border: 1px solid #eceeef;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-width: 300px;
}

.opportunity-status-column:nth-child(2n) {
    background-color: #eceeef !important;
}

.border-left {
    border-left: 1px solid #e1e1e1 !important;
    margin-left: .5rem !important;
    padding-left: .5rem !important;
}

.lead-details-left-panel .lead-picture-container {
    border: 2px solid gray;
    border-radius: 0;
    display: inline-block;
    height: 172px;
    overflow: hidden;
    padding: 8px;
    width: 172px;
}

i.default-avatar-256 {
    background-image: url('../../../svg/default_avatar_256.svg');
    background-size: contain;
    height: 152px;
    width: 152px;
}

.expand_caret {
    transform: scale(1.6);
    margin-left: 8px;
    margin-top: -4px;
}

a[aria-expanded='false']>.expand_caret {
    transform: scale(1.6) rotate(-90deg);
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.table-info,
.table-info>td,
.table-info>th {
    background-color: #b8cad8;
}

.sw-theme-circles>ul.step-anchor>li>a {
    border: 2px solid #f5f5f5;
    background: #f5f5f5;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 25px 0;
    border-radius: 50%;
    -webkit-box-shadow: inset 0px 0px 0px 3px #fff !important;
    box-shadow: inset 0px 0px 0px 3px #fff !important;
    text-decoration: none;
    outline-style: none;
    z-index: 99;
    color: #bbb;
    background: #f5f5f5;
    line-height: 1;
}

.money-graph {
    background-image: url('../../../icon/money_graph-eb389bebab.png');
    background-size: contain;
    height: 157px;
    width: 157px;
    display: block;
}

.sample-request-funds-email {
    background-image: url('../../../icon//rr_preview_email.png');
    height: 319px;
    width: 298px;
    display: block;
    background-size: contain;
}

i.table-cell-placeholder-red {
    background: red;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    display: block;
}

button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}

.card .dropdown-item {
    cursor: pointer;
}

.nowrap {
    white-space: normal !important;
}

.standard-thumbnail img,
.modern-thumbnail img {
    transition: 0.3s ease-in-out;
    position: relative;
}

.standard-thumbnail:hover img,
.modern-thumbnail:hover img {
    transform: scale(3.5) !important;
    position: relative;
    z-index: 9;
}

.tiny-icon {
    height: 16px;
    width: 16px;
}


/* For Invoice theme */

body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.5;
    color: #323232;
    text-align: left;
    background-color: #fff;
}

div.invoice_page {
    background-color: #fff;
    border: 1px solid #333;
    padding: 20px;
    min-height: 600px;
    -webkit-box-shadow: 0 0 4px #333;
    box-shadow: 0 0 4px #333;
}

div.invoice,
div.invoice td,
div.invoice th {
    color: #000;
    font-size: 12px;
}

.invoice-modern-theme {
    padding: 15px;
}

.invoice_page {
    position: relative;
}

table {
    border-collapse: collapse;
}

div.invoice,
div.invoice td,
div.invoice th {
    color: #000;
    font-size: 12px;
}

i.invoice-banner-unsent {
    background-image: url(/images/invoice_banner_unsent-ea8da60a37.png);
    height: 127px;
    width: 127px;
}

i {
    display: inline-block;
}

.pt-4,
.py-4 {
    padding-top: 1.5rem!important;
}

.invoice-modern-theme tr.invoice_info_row td {
    border: 0;
    border-bottom: 1px solid #ababab;
    padding: 5px;
}

.invoice-modern-theme .invoice_info_bg {
    background-color: #fff;
    font-weight: 700;
}

tr.invoice_info_row td {
    border: 1px solid #000;
    padding: 5px;
    word-wrap: break-word;
}

.invoice-modern-theme tr.invoice_info_row td {
    border: 0;
    border-bottom: 1px solid #ababab;
    padding: 5px;
}

.invoice-modern-theme .line-items-table {
    margin-left: 30px;
    margin-right: 30px;
}

.invoice-modern-theme h3 {
    margin-bottom: 5px;
}

.invoice-modern-theme h3 {
    margin-bottom: 5px;
}

.h3,
h3 {
    font-size: 1.42188rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .5rem;
    font-weight: 400;
    line-height: 1.2;
}

.invoice-modern-theme .line-items-table .invoice_info_bg {
    background-color: #fff;
    font-size: 12.8px;
    font-weight: 400;
    text-transform: uppercase;
}

.invoice-modern-theme tr.invoice_info_row td {
    border: 0;
    border-bottom: 1px solid #ababab;
    padding: 5px;
}

.invoice-modern-theme .line-items-table {
    margin-left: 30px;
    margin-right: 30px;
}

.invoice-modern-theme .invoice-summary-section {
    margin-top: 30px;
}

.invoice-modern-theme .invoice-summary-section .notes {
    vertical-align: text-top;
    width: 75%;
}

div.invoice,
div.invoice td,
div.invoice th {
    color: #000;
    font-size: 12px;
}

.invoice-modern-theme .totals-table .invoice_info_row td {
    padding-left: 15px;
    padding-right: 15px;
}

.invoice-modern-theme tr.invoice_info_row td.totals-border-top {
    border-top: 8px solid #ababab;
}

.invoice-modern-theme tr.invoice_info_row td {
    border: 0;
    border-bottom: 1px solid #ababab;
    padding: 5px;
}

tr.invoice_info_row td {
    border: 1px solid #000;
    padding: 5px;
    word-wrap: break-word;
}

.invoice-modern-theme .totals-table .invoice_info_row .balance-due-wrapper {
    padding-left: 0;
    padding-right: 0;
}

.invoice-modern-theme tr.invoice_info_row td.totals-border-bot {
    border-bottom: 8px solid #ababab;
}

.invoice-modern-theme .line-items-table .invoice_info_bg {
    background-color: #fff;
    font-size: 12.8px;
    font-weight: 400;
    text-transform: uppercase;
}

.invoice-modern-theme tr.invoice_info_row td {
    border: 0;
    border-bottom: 1px solid #ababab;
    padding: 5px;
}

.invoice-modern-theme .totals-table .balance-due-box {
    background-color: #eceeef;
    padding: 8px 15px;
}

.invoice-modern-theme .line-items-table {
    margin-left: 30px;
    margin-right: 30px;
}

.invoice-modern-theme .payment-section {
    margin-top: 25px;
}

.invoice-modern-theme .payment-section {
    margin-top: 25px;
}

.invoice-modern-theme .line-items-table {
    margin-left: 30px;
    margin-right: 30px;
}

div.invoice_page {
    background-color: #fff;
    border: 1px solid #333;
    padding: 20px;
    min-height: 600px;
    -webkit-box-shadow: 0 0 4px #333;
    box-shadow: 0 0 4px #333;
}

.bill_firm_name {
    font-weight: 700;
}

a {
    color: #21766d;
    text-decoration: none;
    background-color: transparent;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
    .new_invoice {
        max-width: 500px;
    }
    .inline_block {
        display: inline-block;
    }
}

@media only screen and (max-width: 320px) {
    .invoice-modern-theme .line-items-table {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.your_firm_popup {
    display: block;
    position: fixed!important;
    /* opacity: 100% !important; */
}

.width_set {
    max-width: 800px !important;
    /* margin-top: 50px; */
}

.header_bg_color {
    background-color: #d3d3d33d !important;
}

.title_font-weight {
    font-weight: 400 !important;
}

.margin_set_top {
    margin-top: 126px !important;
}

@media only screen and (max-width: 768px) {
    .margin_set_top {
        margin-top: 150px !important;
    }
}

@media only screen and (max-width: 600px) {
    .margin_set_top {
        margin-top: 230px !important;
    }
}

@media only screen and (max-width: 320px) {
    .margin_set_top {
        margin-top: 235px !important;
    }
}

.sharing-user .no-border {
    display: flex;
    align-items: center;
}

.comment-count {
    font-size: 69% !important;
    right: 4px;
    top: -11px;
    position: relative;
}

.design-permission .radio .checkmark {
    height: 12px !important;
    width: 12px !important;
    padding: 0px;
}

.design-permission .radio {
    display: inline-block !important;
    height: 15px !important;
    width: 15px !important;
    margin: 0 !important;
}

.design-permission .radio .checkmark:after {
    height: 7px !important;
    width: 7px !important;
}

.table-set td {
    vertical-align: middle !important;
}

.design-permission .radio-outline-success {
    padding: 0 !important;
}

.text-space {
    display: block;
    max-width: 100px;
    width: 100px;
}


/* Smart Time */

.design-set {
    padding: 16px;
    padding-bottom: 0px;
}

.set-designn {
    border-radius: 30px;
    padding: 0px 18px 0px 18px !important;
    height: 40px !important;
}

.permission-radio .radio {
    display: inline-flex
}

.permission-div hr,
.design-permission hr {
    margin: 10px !important;
}

.permission-div label.col-form-label {
    margin-bottom: 4px !important;
}

.client-portal-access-div {
    display: flex;
    align-items: center;
}

.m2 {
    display: none !important;
}

.event-type-header {
    position: relative;
}

.event-type-header .question-mark-icon {
    position: absolute;
    right: 35px;
    z-index: 9;
}

.event-type-header .question-mark-icon i {
    font-size: 16px;
}

#calendar_view_div .accordion .ul-collapse__right-icon a::before {
    right: 0;
}


/* .flex-nowrap {
    flex-wrap: nowrap !important;
} */

#AddCaseModelUpdate.modal {
    z-index: 1300 !important;
}
#AddContactModal.modal {
    z-index: 1600 !important;
}

/* For scrollbar */
.scrollbar {
    height: 300px;
    background: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
}
.scrollbar-primary::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5; 
}
.scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #663399; 
}
.form-group-main{
    width: 100%!important;
    display: flex!important;
    justify-content: flex-end!important;
}

.attorney-permissions-object-image img {
    width: 20px;
}
.attorney-permissions-object-image>i {
    color: #696969;
    font-size: 18px;
}

.badge-danger {
    color: #fff;
    background-color: #c9252d !important;
}